<ion-content>
  <div class="login-container">
    <!-- Título de restablecer contraseña -->
    <h2 class="app-name">Restablecer Contraseña</h2>

    <!-- Formulario de restablecimiento de contraseña -->
    <form (submit)="resetPassword()">
      <!-- Campo de nueva contraseña -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      </ion-item>

      <!-- Campo de confirmación de contraseña -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>

      <!-- Botón de restablecer contraseña -->
      <ion-button expand="full" type="submit" class="login-btn">RESTABLECER CONTRASEÑA</ion-button>
    </form>
  </div>
</ion-content>
