.centered-title {
    text-align: center; /* Centra el título */
    width: 100%;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px; /* Aumenta el espaciado arriba y abajo */
    background: linear-gradient(to bottom, #ff7f50, #ffcc00); /* Fondo con gradiente naranja-amarillo */
    border-radius: 25px; /* Bordes redondeados para el contenedor */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para dar efecto elevado */
    margin-top: 50px; /* Espaciado superior para centrar más */
    height: 80%; /* Aseguramos que el contenedor no ocupe toda la pantalla */
    justify-content: center;
  }
  
  .app-name {
    font-size: 28px; /* Tamaño del texto del nombre */
    font-weight: bold;
    text-align: center; /* Centra el nombre */
    width: 100%; /* Hace que ocupe todo el ancho disponible */
    margin-bottom: 30px; /* Espaciado entre el nombre y el formulario */
    color: #ffffff; /* Color blanco para el título */
  }
  
  ion-item {
    margin-bottom: 15px;
    border-radius: 10px; /* Bordes redondeados para los items de formulario */
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-checkbox {
    --border-radius: 10px; /* Bordes redondeados para el checkbox */
  }
  
  /* Estilo del botón de restablecer contraseña con borde y texto blanco */
  ion-button.login-btn {
    background-color: transparent; /* Sin fondo */
    color: #ffffff; /* Blanco para el texto */
    border: 2px solid #007bff; /* Borde azul */
    font-size: 16px; /* Tamaño adecuado para el texto */
    padding: 12px 20px; /* Asegura que el botón tenga un buen espaciado interno */
    text-align: center; /* Asegura que el texto esté centrado */
    border-radius: 15px; /* Bordes redondeados */
  }
  
  ion-item[lines="none"] {
    border: none; /* Elimina el borde adicional de los items */
  }
  